{% extends 'base.html'%}
{% block title %}About Us{% endblock %}

{% block me %}
{% load static %}
<body>

  <main>
    <section>
      <h2>Welcome to MeDeOn</h2>
      <p>MeDeOn is a leading provider of medical services based in Kentucky, USA. With our commitment to excellence, we aim to provide the highest quality healthcare solutions to our clients.</p>
    </section>

    <section>
      <h2>Our Services</h2>
      <p>We offer a wide range of medical services to cater to the diverse needs of our clients. Whether you require preventive care, diagnostics, treatments, or specialized medical procedures, our team of experienced professionals is here to help.</p>

      <ul>
        <li>Preventive Care</li>
        <li>General Medicine</li>
        <li>Specialized Surgeries</li>
        <li>Diagnostic Imaging</li>
        <li>Pharmacy Services</li>
        <li>Emergency Medical Care</li>
        <li>And more...</li>
      </ul>
    </section>

    <section>
      <h2>Our Commitment</h2>
      <p>At MeDeOn, we prioritize patient care and strive to create a comfortable and compassionate environment for everyone who walks through our doors. Our dedicated team of medical professionals works diligently to provide personalized care and tailored treatment plans to ensure the best possible outcomes for our patients.</p>
    </section>
  </main>
</body>
{% endblock %}